.jumbotron {
    background: url("http://cdn.wallpapersafari.com/74/81/39f8Nh.jpg");
    text-align: center;
}

.jumbotron h1,.jumbotron p {
    color: white;
}

h2 { background: gray;
            padding: 20px;
            font-weight: bold;
            color: white !important; 
            margin-top: -20px;}
    

.container {text-align: center;} 

#right {font-size: 30px;
color: white;}

#wrong {font-size: 25px;
color: white;}
#remain {font-size: 20px;
color: white;}

footer {background: url("http://cdn.wallpapersafari.com/74/81/39f8Nh.jpg");
      padding: 70px;}